<section id="content">
  <div class="content-container">
    <h2>Hoeveel belasting betaalt u</h2>
    <p>Altijd al willen weten hoeveel belasting u nou bijdraagt, en waar u precies aan meebetaalt? Dat kan hier! Vul uw
      bruto maandsalaris en leeftijd in en u ziet meteen hoeveel u elke maand naar de rijksoverheid overmaakt.</p>
    <p>Hoeveel belasting betaalt u? Dat is een lastige vraag om te beantwoorden: u betaalt namelijk allerlei soorten
      belastingen zoals BTW, accijnsen, inkomstenbelasting en milieubelasting. Om snel een indruk te geven van waar uw
      belastingcenten aan worden besteed, wordt bij deze berekening gekeken naar de inkomstenbelasting en de uitgaven
      van de Rijksoverheid.</p>
    <h2>Belastingen in Nederland</h2>
    <p>Veel Nederlanders dragen elk jaar weer een flink bedrag af aan de fiscus. Maar over welke bedragen praten we
      eigenlijk en waar geeft de overheid die inkomsten aan uit?</p>
    <h2>Miljoenennota</h2>
    <figure>
      <img src="assets/images/prinsjesdag.jpg" alt="Prinsjesdag">
      <figcaption>
        <a href="https://www.rijksoverheid.nl/documenten/begrotingen/2018/09/18/miljoenennota-2019">
          Miljoenennota 2019
        </a>
      </figcaption>
    </figure>
    <p>In de Miljoenennota wordt elk jaar de begroting van het volgende jaar gepresenteerd. Voor het jaar 2019 zijn er
      aan totale belastinginkomsten 305 miljard euro begroot voor de Rijksoverheid. Aan belastinguitgaven is er 295
      miljard euro begroot.</p>
    <h2>Hoe komt de overheid aan haar inkomsten?</h2>
    <p>In Nederland zorgt de overheid voor allerlei zaken zoals rechtspraak, politie op straat, onderhoud van wegen,
      uitkeringen, zorg voor ouderen en subsidies op woningen en kunst en cultuur. Het zijn allemaal taken die
      individuele burgers of bedrijven niet kunnen of willen doen, maar die wel van vanwege het maatschappelijke belang
      uitgevoerd moeten worden. De uitvoering hiervan kost de overheid geld. Iedereen in Nederland gebruikt deze
      voorzieningen waar de overheid voor zorgt of aan meebetaalt, zoals wegen en dijken, gezondheidszorg, politie op
      straat en onderwijs.</p>
    <p>Om dit mogelijk te maken heft de overheid belastingen. Zichtbaar of onzichtbaar, direct of indirect, heeft
      iedereen te maken met belastingen. Over salaris, benzine, alcohol, schenking, elektronica, een prijs in de loterij
      en nog veel meer betalen we belasting. De belastingen vormen het grootste deel van de inkomsten van de overheid.
      Verder verdient de staat aan de verkoop van aardgas uit de Nederlandse bodem. Ook krijgt de overheid inkomsten uit
      de winst van bedrijven waarvan de overheid (voor een deel) eigenaar is, zoals KLM. Op de <a
        href="https://www.rijksoverheid.nl/onderwerpen/inkomstenbelasting/vraag-en-antwoord/welke-belastingen-heft-de-rijksoverheid"
        title="Welke belastingen heft de Rijksoverheid?">website van de overheid</a> is alles nog eens netjes op een
      rijtje gezet.</p>
  </div>
</section>