<footer class="footer">
  <div class="footer-container">
    <section class="footer__description">
      <h2 class="logo">
        <a routerLink="/">Belasting-berekenen.nl</a>
      </h2>
      <p class="subtitle">
        Belasting-berekenen.nl maakt inzichtelijk waar uw belastinggeld naar toe gaat. Wij gebruiken
        hiervoor de geschatte belasting over uw inkomen, en de meest recente miljoenennota.
      </p>
    </section>
    <div class="footer-col2">
      <section class="footer__links">
        <h3>Quick Links</h3>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a (click)="onLinkClick()" routerLink="/disclaimer">Disclaimer</a></li>
          <li>
            <a (click)="onLinkClick()" routerLink="/privacy-policy">Privacy policy</a>
          </li>
        </ul>
      </section>
      <section class="footer__contact">
        <h3>Contact</h3>
        <div>
          <ul>
            <li class="footer__contact-mail">
              <a href="mailto:info@belasting-berekenen.nl">info@belasting-berekenen.nl</a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  <section class="footer__copyright">
    <p>{{ currentYear }} &copy; Belasting-berekenen.nl</p>
  </section>
</footer>
