<section class="hero">
  <div class="hero-container">
    <h2>Bereken nu!</h2>
    <form #form="ngForm" (ngSubmit)="submit()">
      <div class="form-field" *ngFor="let field of fields">
        <label for="{{ field.id }}">{{ field.label }}:</label>
        <input
          id="{{ field.id }}"
          maxlength="{{ field.maxLength }}"
          type="text"
          pattern="[0-9]*"
          required
          [(ngModel)]="field.value"
          name="{{ field.id }}"
        />
        <span
          class="popup-symbol"
          (mouseenter)="field.showTooltip = true"
          (mouseleave)="field.showTooltip = false"
        >
        </span>
        <p
          class="alert"
          role="alert"
          [ngClass]="{
            'alert--show': field.showTooltip,
            'alert--hide': !field.showTooltip
          }"
        >
          {{ field.tooltip }}
        </p>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.form.valid"
      >
        Bereken
      </button>
    </form>
  </div>
</section>
