/***********************
***** GRAPH RESULTS ****
***********************/

#results {
  background-color: #F8F7FF;
  transition: all 1000ms ease;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
  overflow: hidden;
}

.box {
  position: absolute;
  bottom: 600px;
  left: 0;
  transition: all 500ms ease;
  cursor: pointer;
}

.box-number {
  position: relative;
  display: block;
  width: 100%;
  border: solid 1px #F8F7FF;
  cursor: default;
  background-color: #C3C3E5;
  box-sizing: border-box;
  transition: all 500ms ease;
  background-image: radial-gradient(circle at top left, rgba(68, 50, 102, 0.2) 10%, #C3C3E5);
}

.box-number:hover {
  background-color: #443266;
  background-image: radial-gradient(circle at bottom right, rgba(195, 195, 229, 0.3) 10%, #443266);
  transition: all 500ms ease;
}

.box-number p {
  display: inline-block;
  font-family: "Dosis", sans-serif;
  position: absolute;
  bottom: 4%;
  right: 5%;
  line-height: 1;
}

.box-number:hover p {
  color: #fff;
}

.box-info {
  position: absolute;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px 10px;
  z-index: 100;
  pointer-events: none;
  top: calc(100% + 5px);
  transform: translate(-50%, 0);
}

.box-info>span {
  font-size: 0;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(0, 0, 0, 0.75);
  top: -8px;
  position: absolute;
}

.box-info p {
  font-size: 13px;
  color: #fff;
  line-height: 1.4;
}

.box-info p span {
  font-size: 16px;
  font-weight: 500;
}

.results-container {
  max-width: 666px;
  width: 100%;
}

.results-total {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.results-total-text, .results-total-number {
  font-family: "Dosis", sans-serif;
  font-size: 100%;
}

.results-total-number {
  font-weight: 700;
  color: #443266;
  margin: 0 8px;
}

.results-graph {
  width: 100%;
  height: 0;
  transition: height 500ms ease;
}

/*****************
* MEDIUM DEVICES *
******************/

@media screen and (min-width: 480px) {
  .results-total-text, .results-total-number {
    font-size: 110%;
  }
}