
<section id="content">
	<div class="content-container">
		<h2>Privacy</h2>
		<p>Deze pagina informeert u over de wijze waarop deze website omgaat met uw gegevens.</p>
		<h3>Cookies</h3>
		<p>Op deze website worden cookies gebruikt voor Google Analytics</p>
		<p>U kunt er voor kiezen om alle, of een deel van de cookies of cookies van derden uit te schakelen in uw browserinstellingen. Tevens kunt u deze instellingen beheren met firewall programma's. Hoewel dit mogelijk is, kan het wel van invloed zijn op de werking van zowel onze, als die van andere websites. Het kan namelijk mogelijk zijn dat u niet meer in staat bent om in te loggen in diverse systemen en programma's.</p>
		<p>Het verwijderen van cookies betekent niet automatisch dat u deze advertentieprogramma's definitief uitschakeld, tenzij u kunt kiezen om de cookie permanent uit kunt schakelen. Anders zal er weer een nieuwe cookie toegevoegd worden wanneer u de site opnieuw bezoekt.</p>
		<h3>Advertenties</h3>
		<p>Op belasting-berekenen.nl worden advertenties weergegeven. Externe leveranciers, waaronder Google, gebruiken cookies om advertenties weer te geven op basis van eerdere bezoeken van een gebruiker aan uw website of aan andere websites. Met advertentiecookies kunnen Google en zijn partners advertenties weergeven aan uw gebruikers op basis van hun bezoek aan uw sites en/of andere sites op internet. U kunt zich afmelden voor gepersonaliseerde advertenties door <a href="https://www.google.com/settings/ads" target="_blank" rel="noopener">Advertentie-instellingen</a> te bezoeken.</p>
		<h3>Uw gegevens</h3>
		<p>Voor het functioneren van deze website kunt u uw salaris en leeftijd invullen. Deze gegevens worden enkel en alleen gebruikt voor de calculator, en worden niet dus niet bewaard voor andere doeleinden.</p>
		<h3>Wijziging Privacy Policy</h3>
		<p>Deze privacy policy kan elk moment gewijzigd worden, zonder verplichting tot notificatie aan de bezoekers van www.belasting-berekenen.nl.</p>
	</div>
</section>
