/*** Global Styling **********
***** Belasting-berekenen ***/

/***********************
****   CSS RESET    ****
***********************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/***********************
*****   GENERAL    *****
***********************/

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrapper {
  min-width: 360px;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted #443266;
}

a:hover {
  border-bottom-style: solid;
  text-decoration: none;
}

.header-container,
.hero-container,
.results-container,
.content-container,
.footer-container {
  margin: 0 auto;
  position: relative;
}

.singlePageHeading p,
.accordion p {
  color: rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
}

.btn,
.singlePageHeading h2,
.singlePageHeading p,
footer a,
.errorpage-content span {
  color: #fff;
  -webkit-text-stroke: 0.2px rgba(255, 255, 255, 0.5);
}

p,
#hero h2 {
  color: #000;
  -webkit-text-stroke: 0.2px rgba(0, 0, 0, 0.5);
}

a,
.accordion h3::after {
  color: #443266;
  -webkit-text-stroke: 0.2px rgba(68, 50, 102, 0.5);
}

footer p,
footer h3,
footer a:hover,
footer a::before {
  color: #c3c3e5;
  -webkit-text-stroke: 0.1px rgba(195, 195, 229, 0.5);
}

.lowlight {
  color: #8c489f;
  -webkit-text-stroke: 0.2px rgba(140, 72, 159, 0.5);
}

.logo,
.logo a,
header p {
  color: #f1f0ff;
  -webkit-text-stroke: 0.2px rgba(241, 240, 255, 0.5);
}

p {
  font-size: 14px;
  line-height: 1.7;
}

.logo {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 165%;
  letter-spacing: 1px;
  transition: all 500ms ease;
  -webkit-user-select: none; /* Chrome + Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.logo a {
  transition: all 500ms ease;
}

h2,
h3 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

/* to top button */
/* #to-top {
  display: block;
  position: fixed;
  right: 25px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F1F0FF;
  border: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 3px 12px 2px rgba(0, 0, 0, 0.2);
  z-index: 120;
  cursor: pointer;
  bottom: -45px;
  transition: all 500ms ease; 
}

#to-top:hover {
  background-color: #443266;
  transition: all 500ms ease; 
}

#to-top .fa-chevron-up span {
  font-size: 0; 
}

#to-top .fa-chevron-up {
  color: #fff;
  font-size: 18px;
  position: relative;
  top: 9px;
  left: 12px; 
} */

/***********************
****     PAGES     *****
***********************/
.singlePageHeading {
  width: 100%;
  background-size: cover;
  padding: 75px 0;
  position: relative;
}

.singlePageHeading h2 {
  text-align: center;
  font-size: 250%;
  font-weight: 500;
}

.singlePageHeading p {
  text-align: center;
  font-style: italic;
  font-size: 100%;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}

.singlePageHeading h2,
.singlePageHeading p {
  padding: 0 5%;
  position: relative;
  top: 10px;
  opacity: 0;
  transition: all 500ms ease-in;
}

/*****************
** BIG  DEVICES **
******************/
@media screen and (min-width: 992px) {
  .header-container,
  .hero-container,
  .content-container,
  .footer-container {
    max-width: 1000px;
  }
}

/*********************
** VERY BIG DEVICES **
*********************/
@media screen and (min-width: 1200px) {
  .container,
  .two-col {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
